.UserContacts{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.UserContacts h4{
    width: 100%;
    margin-bottom: .75em;
}

/*soc-block w-100*/
.UserContacts .soc-block-link{
    width: 100%;
}
.UserContacts .soc-block{
    position: relative;
    width: 100%;
    height: 100px;
    margin-bottom: 1.5em;
    padding: 2em;
    border-radius: var(--def-border-redius);
    background-size: cover;
    transition: .3s;
}
.UserContacts .soc-block.vk{
    background-color: #0077FF;
    background-image: url("/public/images/auth/vk-bg.svg");
}
.UserContacts .soc-block.tg{
    background-color: #0088CC;
    background-image: url("/public/images/auth/tg-bg.svg");
}
.UserContacts .soc-block:hover{
    opacity: .75;
}
.UserContacts .soc-block h4{
    position: absolute;
    bottom: 0;
    left: 10px;
    color: var(--bs-white);
}
.UserContacts .soc-block .arrow{
    width: 15px;
    position: absolute;
    right: 10px;
    bottom: 15px;
    transform: rotate(-90deg);
}

/*default block*/
.UserContacts .def-block{
    width: calc(50% - .5em);
    height: 70px;
    margin: 0;
    padding: 1em;
    color: var(--bs-white);
    background: var(--bs-blue);
    border-radius: var(--def-border-redius);
    cursor: pointer;
    transition: .3s;
}

/*for hide block*/
.UserContacts .def-block .hide{
    height: 100%;
    display: flex;
    align-items: center;
}
/*for show block*/
.UserContacts .def-block .show{
    height: 100%;
    display: flex;
    align-items: center;
}
.UserContacts .def-block .show h6{
    font-weight: 300;
    margin: 0;
}
.UserContacts .def-block .show .copy{
    position: absolute;
    right: 0;
    bottom: -20px;
    font-weight: 300;
    transition: .25s;
}
.UserContacts .def-block .show .copy:hover{
    opacity: .75;
}

.UserContacts .def-block .hide h6{
    font-weight: 300;
    margin: 0 0 0 .5em;
}
.UserContacts .def-block .hide .arrow-back{
    width: 20px;
    position: absolute;
    right: -5px;
    bottom: -5px;
}

/*p opacity*/
.UserContacts p.warning{
    opacity: .5;
    margin: 0;
}
