.NavbarTop{
    position: relative;
    padding: .5em 0 !important;
    background: var(--bs-light);
}

/*link*/
.NavbarTop a{
    margin: 0 .75em;
    font-weight: 500;
    color: var(--bs-dark);
    text-decoration: none;
    transition: .25s;
}
.NavbarTop a:last-child{
    margin-right: 0;
}

/*logo*/
.NavbarTop a.logo{
    margin: 0 .5em 0 0;
    color: var(--bs-dark);
}
.NavbarTop a.logo img{
    width: 30px;
    margin-right: 5px;
}

/*hover*/
.NavbarTop a:hover,
.NavbarTop a.logo:hover{
    opacity: .75;
    color: var(--bs-dark);
}
.NavbarTop a.but-green:hover{
    opacity: 1;
}

/*images for favorites link*/
.NavbarTop a.images{
    display: flex;
    align-items: center;
}
.NavbarTop a.images img.like {
    width: 17px;
    margin-right: .25em;
}
.NavbarTop a.images img.like.active{
    width: 20px;
}


/*mobile right block*/
.NavbarTop .mobile-right{
    display: none;
}

/*offcanvas open button*/
.NavbarTop .offcanvas-open{
    height: 15px;
    margin-left: .25em;
    transition: .25s;
    cursor: pointer;
}
.NavbarTop .offcanvas-open:hover{
    opacity: .75;
}