.NavbarTop{
    padding: .35em 0 !important;
    background: var(--bs-light);
}

/*link*/
.NavbarTop a{
    margin: 0 .75em;
    font-size: .8em;
    font-weight: 500;
    color: var(--bs-dark);
    text-decoration: none;
    transition: .25s;
}
.NavbarTop a:last-child{
    margin-right: 0;
}

/*logo*/
.NavbarTop a.logo{
    margin: 0 .5em 0 0;
    color: var(--bs-dark);
    font-size: 1em;
    font-weight: 800;
}

/*hover*/
.NavbarTop a:hover,
.NavbarTop a.logo:hover{
    opacity: .75;
    color: var(--bs-dark);
}
.NavbarTop a.but-green:hover{
    opacity: 1;
}

/*images for favorites link*/
.NavbarTop a.images{
    display: flex;
    align-items: center;
}
.NavbarTop a.images img.like {
    width: 17px;
    margin-right: .25em;
}
.NavbarTop a.images img.like.active{
    width: 20px;
}
