.AuthUserProducts{
    padding-bottom: 3em;
}

/*product card*/
.AuthUserProductsCard{
    height: 200px;
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*left block for content*/
.AuthUserProductsCard .left{
    width: 80% !important;
    height: 100%;
    padding: 0 !important;
    display: flex;
    border: 2px solid #F5F4FB;
    border-radius: var(--def-border-redius) !important;
}
/*slider*/
.AuthUserProductsCard .left .slider-container{
    width: 40%;
    height: inherit;
}

/*content in left block container*/
.AuthUserProductsCard .left .content{
    padding: 1.5em;
}
/*text*/
.AuthUserProductsCard .left .content p.center{
    margin: 1em 0;
    line-height: 1.2;
}
.AuthUserProductsCard .left .content h4{
    font-weight: 700;
}
.AuthUserProductsCard .left .content p.min-order{
    color: var(--bs-blue);
    text-decoration: underline;
}

/*right block for buttons*/
.AuthUserProductsCard .right{
    width: calc(100% - 80% - 1em) !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
}

/*line*/

.AuthUserProductsCard .right .line{
    width: 75%;
    height: 1px;
    margin: 1em auto;
    background: var(--bs-dark);
    opacity: .25;
}

.AuthUserProductsCard .right a{
    margin: .25em 0;
}