.ProductSimilarProducts{
    margin: 3em 0 2em;
}

/*container for products*/
.ProductSimilarProducts .products-container{
    width: 100%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}