.BriefcasePage{
    padding-top: 2em;
    padding-bottom: 2em;
}

/*products container*/
.BriefcasePage .products-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*alert*/
.BriefcasePage .no-products{
    opacity: .6;
}
.BriefcasePage .no-products a{
    margin: 0 .4em;
}
