.LastProducts{
    margin: 4em 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.LastProducts header{
    width: 100%;
}
.LastProducts header h4{
    width: 100%;
    margin-bottom: .75em !important;
}
/*.LastProducts p.descr{*/
/*    width: 75%;*/
/*    margin-bottom: 2em;*/
/*    opacity: .75;*/
/*}*/
/*.LastProducts p.descr a{*/
/*    color: var(--bs-blue);*/
/*    margin-left: .25em;*/
/*}*/

.LastProducts .link-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.LastProducts .link-container a{
    color: var(--bs-blue);
    text-decoration: none;
    transition: .25s;
}
.LastProducts .link-container :hover{
    color: var(--bs-dark);
}