.CardProduct{
    width: calc(25% - 1em);
    margin: 0 0 1em 0;
    border-radius: var(--def-border-redius);
    box-shadow: var(--def-shadow);
}

/*slider container*/
.CardProduct .slider-container{
    height: 220px;
}

/*content container*/
.CardProduct .content{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em 1em;
}

/*Название*/
.CardProduct .content h6{
    width: 100%;
}
.CardProduct .content a.title{
    text-decoration: none;
    color: inherit;
    margin-bottom: 1em;
    transition: .25s;
}
.CardProduct .content a.title:hover{
    color: var(--bs-blue);
}

/*Цена*/
.CardProduct .content h5{
    width: 100%;
    font-weight: 700;
    margin-bottom: -3px;
    line-height: 1;
}

/*Мин заказ*/
.CardProduct .content .min-order{
    width: 100%;
    margin-bottom: 1.5em;
    color: var(--bs-blue);
    text-decoration: underline;
}

/*ссылка*/
.CardProduct .content a.but-blue{
    text-align: center;
    margin-bottom: .5em;
}

/*в избранное*/
.CardProduct .briefcase-container{
    z-index: 10;
    position: absolute;
    top: 15px;
    right: 15px;
}

/*проверка на товар пользователя*/
.CardProduct .bottom{
    width: 100%;
    margin: 0;
}
.CardProduct .bottom strong{
    margin: 0 .25em;
}