.PayCards{
    padding: 3em 0;
    display: flex;
    justify-content: space-between;
}

.PayCards .inner{
    width: calc(50% - .5em);
    height: 200px;
    padding: 1em;
    display: flex;
    align-items: center;
    background: #F8F8F8;
    border-radius: var(--def-border-redius);
}
.PayCards .inner img{
    height: 100%;
    position: absolute;
    right: 20px;
    top: -15%;
}
.PayCards .inner h6{
    font-weight: 400;
    margin-bottom: 0;
}

