@media (max-width: 1200px) {
    .CategSubCard{
        width: calc(25% - .75em);
        height: 150px;
        margin: .75em .75em 0 0;
    }
}

@media (max-width: 991px) {
    .CategSubCard{
        width: calc(33.33% - .75em);
        height: 130px;
    }
}

@media (max-width: 768px) {
    .CategSubCard{
        width: calc(50% - .75em);
        height: 130px;
    }
    .CategSubCard h4{
        font-size: 14px;
        font-weight: 400;
    }
}

@media (max-width: 469px) {
    .CategSubCard{
        width: calc(50% - .5em);
        height: 100px;
        margin: .5em .5em 0 0;
    }
}