.UserPageProducts h4{
    margin-bottom: .75em;
}

/*prods-container*/
.UserPageProducts .prods-container{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}


/*card product width*/
.UserPageProducts .prods-container .CardProduct{
    width: calc(33.33% - .5em);
    margin: .5em 0;
}