.TopCategories{
    width: calc(50% - 1em);
}


/*inner blocks*/
.TopCategories .inner{
    position: relative;
    width: 100%;
    height: 110px;
    margin: 0 0 .5em 0;
    box-shadow: var(--def-shadow);
    border-radius: var(--def-border-redius);
    cursor: pointer;
    transition: .25s;

    /*img*/
    background-size: cover;
    background-position: center center;
}
.TopCategories .inner:hover{
    height: 130px;
}
.TopCategories .inner .shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bs-dark-op-75);
    border-radius: inherit;
}

/*text*/
.TopCategories .inner h4{
    position: absolute;
    left: 20px;
    top: 20px;

    color: var(--bs-white);
}

/*bg images*/
.TopCategories .inner.electronic{
    background-image: url("/public/images/static/headphones.jpeg");
}
.TopCategories .inner.clothes{
    background-image: url("/public/images/static/clothes.jpeg");
}
.TopCategories .inner.stationery{
    background-image: url("/public/images/static/stationery.png");
}