.PostProductPage{
    padding-top: 2em;
    padding-bottom: 2em;
}
.PostProductPage h3.title{
    margin-bottom: .25em;
}
.PostProductPage p.small.warning{
    margin-bottom: 2em;
    opacity: .5;
}

/*no-user-data text*/
.PostProductPage .no-user-data{
    width: 50%;
    opacity: .6;
}
.PostProductPage .no-user-data a{
    margin: 0 .4em;
}
