.NavbarCategories button{
    width: calc(200px - .5em);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.NavbarCategories button img{
    width: 25px;
    margin-right: 5px;
}
