.SubProductsPage{
    padding-bottom: 4em;
}
/*header*/
.SubProductsPage header{
    display: flex;
    flex-direction: column;
    padding: 2em 0;
}
.SubProductsPage header a{
    font-weight: 500;
    color: var(--bs-blue);
    text-decoration: none;
}
.SubProductsPage header h3{
    font-weight: 700;
    margin: 0 0 .75em 0;
}

/*container for products*/
.SubProductsPage .container-products{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.SubProductsPage .container-products .CardProduct{
    margin: 0 1em 1em 0;
}

/*p no-products*/
.SubProductsPage .no-products{
    width: 50%;
    opacity: .5;
}
.SubProductsPage .no-products a{
    margin: 0 .25em;
}
