.SubcategoriesPage{
    padding-bottom: 4em;
}

/*header*/
.SubcategoriesPage header{
    padding: 2em 0;
}
.SubcategoriesPage header a{
    font-weight: 500;
    color: var(--bs-blue);
    text-decoration: none;
}

.SubcategoriesPage header .inner{
    display: flex;
    justify-content: space-between;
}

/*container for products*/
.SubcategoriesPage .sub-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/*p no-products*/
.SubcategoriesPage .no-products{
    width: 50%;
    opacity: .5;
}
.SubcategoriesPage .no-products a{
    margin: 0 .25em;
}
