.SupportProjectPage{
    padding-top: 3em;
    padding-bottom: 3em;
}
.SupportProjectPage h6{
    font-weight: 300;
    margin-bottom: 3em;
}

/*footer with title*/
.SupportProjectPage footer{
    display: flex;
    justify-content: center;

    margin-bottom: 3em;
    padding: 1.5em 0;
    text-align: center;
    border-radius: 10px;
    background-color: var(--bs-light);
    background-image: url("/public/images/static/bg-podderjka.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.SupportProjectPage footer h5{
    width: auto;
    margin: 0 1em;
    padding: .35em 1em;
    border-radius: 1em;
    background: var(--bs-light);
}
