.ThreeInfoBlock{
    width: 100%;
    margin: 4em 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*inner blocks all*/
.ThreeInfoBlock .inner{
    position: relative;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
    margin: .75em 0;
    padding: 2em;
    border-radius: var(--def-border-redius);
    box-shadow: var(--def-shadow);

    /*bg image*/
    background-size: cover;
}

/*default block 50% width*/
.ThreeInfoBlock .inner.default{
    align-content: flex-start;
    width: calc(50% - .75em);
}
.ThreeInfoBlock .inner h1,
.ThreeInfoBlock .inner h3,
.ThreeInfoBlock .inner h6{
    color: var(--bs-light);
    width: 100%;
    margin: 0;
}
.ThreeInfoBlock .inner h1,
.ThreeInfoBlock .inner h3{
    margin-bottom: .25em;
}
.ThreeInfoBlock .inner h6{
    width: 60%;
    font-weight: 300;
}

/*img absolute*/
.ThreeInfoBlock .inner img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

/*background images*/
.ThreeInfoBlock .inner.big{
    background: linear-gradient(72.97deg, #FF6E2D -1.34%, #D8C232 103.83%);
}
.ThreeInfoBlock .inner.first{
    background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
}
.ThreeInfoBlock .inner.second{
    background: linear-gradient(90deg, #C471F5 0%, #FA71CD 100%);
}