.GeneralSearch{
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

/*input search*/
.GeneralSearch input{
    width: calc(100% - 200px - .5em);
    border-radius: var(--def-border-redius) !important;
}
