.GeneralSearch{
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.GeneralSearch .input-container{
    height: inherit !important;
    display: flex;
    align-content: center;
    width: calc(100% - 200px - .5em);
    position: relative;
}
/*input search*/
.GeneralSearch input{
    width: 100%;
    padding-left: 35px;
    border: 1px solid #E4E4E4 !important;
    border-radius: var(--def-border-redius) !important;
}
.GeneralSearch input::placeholder{
    color: #A3A3A3;
}
/*image search*/
.GeneralSearch .search-img{
    width: 20px;
    position: absolute;
    top: 9px;
    left: 10px;
}